<h1>Items</h1>
<ul>
  <li><%= link_to 'Books', new_item_path(type: 'books') %></li>
  <li><%= link_to 'Cars', new_item_path(type: 'cars') %></li>
  <li><%= link_to 'Lamps', new_item_path(type: 'lamps') %></li>
  <li><%= link_to 'Houses', new_item_path(type: 'houses') %></li>
</ul>