<h1>Submitted Orders</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2">
        Order Number
      </div>
      <div class="col-sm-2">
        Total Items
      </div>
      <div class="col-sm-2">
        Building
      </div>
      <div class="col-sm-2">
        Total Amount
      </div>
    </div>
    <br>
    <% @orders.each do |o| %>
      <div class="row">
        <div class="col-sm-2">
          <%= o.id %>
        </div>
        <div class="col-sm-2">
          <%= o.items.count %>
        </div>
        <div class="col-sm-2">
          <%= o.building.name %>
        </div>
        <div class="col-sm-2">
          <%= o.total_amount %>
        </div>
      </div>
    <% end %>
  </div>
</div>