<% if current_user %>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <%= link_to 'Items', root_path, method: :delete %>
      </li>
      <li class="">
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </li>
    </ul>
    </div>
  </nav>
<% end %>